*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.off-section{
    background-color: rgb(223, 45, 45);
    color: white;
    font-size: 23px;
    font-weight: 800;
    text-align: center;
    padding: 3px;

}
.navbar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 80px;
    width: 100%;

}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 15px;
}
.logo{
    width: 75px;

}
.icon{
    font-size: 32px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium',
     'Arial Narrow', Arial, sans-serif;

}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 15px;
}
.right li{
    list-style: none;
    
}
.right li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 5px;
    padding: 5px 10px;
    transition: all 0.3s ease-in;


}
.right li a:hover{
    cursor: pointer;
    background-color: rgb(239, 47, 47);
    color: whitesmoke;
    border-radius: 5px;
    font-size: 22px;
}
.category{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(194, 101, 101, 0.782);

}
.category li{
    list-style: none;
}
.category li a{
    text-decoration: none;
    font-size: 21px;
    color: black;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT',
     Calibri, 'Trebuchet MS', sans-serif;
     display: inline-block;
     transition: all 0.2s ease-in;
}
.category li a:hover{
    transform: translateY(-4px);
    text-decoration: underline;
}
.main{
    height: 75vh;
    width: 100%;

}
.main-img{
    height:75vh;
    width: 50%;
    float: right;
}
.additional{
    position: absolute;
    top: 30vh;
    left: 20px;

}
.additional p{
    width: 30vh;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;


}
.buy{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: rgb(222, 64, 64);
    color: beige;
    /* display: block; */
     margin-left:auto;
    transition: all 0.3s ease-in;

}
.buy:hover{
    transform: scale(1.1);
   
    cursor: pointer;

}
.search{
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    margin-top: 27px;
    box-shadow: 5px 2px 10px rgba(0 ,0 ,0 ,0.4)inset;
    background-color:hsl(349, 30%, 89%) ;
    margin-left: 40px;
}
.search-btn{
    
    /* padding: 10px; */
    /* border-radius: 5px; */
    /* background-color:hsl(349, 30%, 89%) ; */
    cursor: pointer;
    margin-top: 40px;
    margin-left: -28px;
    position: absolute;
    
    /* box-shadow: 5px 2px 10px rgba(0 ,0 ,0 ,0.4); */
    transition: all 0.3s ease-in;
}
.search-btn:hover{
      transform: translateY(-3px);
      transform: scale(5px);
}
.products{
    width: 100%;
    height: 75vh;
    margin-top: 10px;
}
.prod-head{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;

}
.product{
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
.prod-img{
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1.2s ease-in;
}
.prod-img:hover{
    transform: scale(1.1);
}
.product p{
    font-size: 18px;
    font-family: 'Courier New',
     Courier, monospace;
     padding: 5px;
     margin: 10px;

}
.product span{
    color: rgb(156, 148, 137);
    background-color: #3c22bd;
    padding: 8px 15px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: underline;
    font-weight: 700;
    margin-left: 25px;

}
.product span:hover{
    color: aliceblue;
    cursor: pointer;

}
.contact{
    width: 100%;
    height:70vh ;

}
.cont-head{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;
}
.form{
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: right;

}
.contact label{
    font-size: 20px;
    margin-left: -220px;
}
.contact input{
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    margin-bottom: 25px;


}
.form-btn{
    padding: 8px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color:#997878 ;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in;

}
.form-btn:hover{
    background-color:#c09191 ;
}
.contact p{
    position: absolute;
    width: 500px;
    left: 40px;
    margin-top:40px;
    letter-spacing: 1.3px;
    line-height: 20px;
    font-size: 20px;
}
.footer{
    width: 100%;
    height: 35vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 30px ,30px, 30px;
    margin-left: 50px;

}
.links li{
    list-style: none;

}
.links li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: inline-block;
    transition: all 0.2s ease-in;
    margin: 15px;
    
    


}
.links li a:hover{
    transform: scale(1.1);
    text-decoration: underline;
    color: rgb(178, 101, 114);
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.icons a{
    font-size: 40px;
    color: rgb(202, 140, 152);
    margin-right: 50px;
    transition: all 0.3s ease-in;
}
.icons a:hover{
    color: white;
    transform: scale(1.2);
}
.naming{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.515);
    align-items: center;
    width: 100%;
    height: 10vh;
}
.naming-word{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
     Arial, sans-serif;
     display: flex;
     transition: all 0.4s ease-in;
}
.naming-word:hover{
    color: rgb(213, 220, 226);
    transform: scale(1.2);
    font-family: 'Times New Roman', Times, serif;
}
